In [1]:
import os
from pathlib import Path
from dotenv import load_dotenv
abs_path = Path(r'C:/users/makyol/documents/nufintech/.env')
#load_dotenv(abs_path)
load_dotenv()
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")
import datetime
from datetime import date
import pandas as pd
import numpy as np
import time
import pytz
from datetime import timedelta
from sklearn.preprocessing import StandardScaler

pd.set_option('display.float_format', lambda x: '%.10f' % x)
pd.set_option('display.float_format', lambda x: '%.10f' % x)

In [2]:
#!pip install alpaca-trade-api
import alpaca_trade_api as tradeapi

In [3]:
api = tradeapi.REST(alpaca_api_key, alpaca_secret_key, api_version='v2')

In [4]:
ticker_list = [ 'SPY','QQQ','UUP','GLD', 'USO']

In [5]:
#function to get close prices from api
def pullingPrices(start_date_str,numDays, ticker_list,timeframe='1Min', candle_part = 'close'):
    prices = pd.DataFrame()
    counter = 0
    for single_date in (datetime.datetime.strptime(start_date_str,"%Y-%m-%d") +datetime.timedelta(days=n) for n in range(numDays)):
        start =  pd.Timestamp(f'{single_date} 01:00:15-0400', tz='America/New_York').replace(hour=9, minute=30, second=15).astimezone('GMT').isoformat()[:-6]+'Z'
        end   =  pd.Timestamp(f'{single_date} 01:00:15-0400', tz='America/New_York').replace(hour=16, minute=0, second=15).astimezone('GMT').isoformat()[:-6]+'Z'
        df = api.get_barset(ticker_list, timeframe,limit=1000, start=start, end=end).df  

        #bar_list= ['open','close','high', 'low', 'volume']
        # candle_part is the part of bar chart that we keep
        #bar_list.remove(candle_part)
        #df.drop(columns=bar_list, level=1, inplace=True)        
        df = df.droplevel(axis=1, level=1)
        #print(df.head)
        # We are using forward fill to fill data points that are missing with previous prices, since Alpaca reports minutes without any trades occuring as missing but technically the price is stil lthe same
        #df.ffill(inplace=True)    
        prices = pd.concat([prices,df],axis=0)
        counter = counter + 1
        if counter % 20 ==0:
            print(start)
    del df
    return prices

In [7]:
#get 5yrs of data from current date 11/9/2020 
start_date_str = '2015-11-09'
timeframe = "1D"
numDays = 1825
#ticker_list = ticker_list_2019_Dec_31_corrected # this should always be set to Dec 31st from the year prior to avoid lookahead bias
#ticker_list = ticker_list_2015_Jan_01 
close_prices = pullingPrices(start_date_str,numDays, ticker_list,timeframe, candle_part = 'close')
close_prices.tail()

2015-11-28T14:30:15Z
2015-12-18T14:30:15Z
2016-01-07T14:30:15Z
2016-01-27T14:30:15Z
2016-02-16T14:30:15Z
2016-03-07T14:30:15Z
2016-03-27T13:30:15Z
2016-04-16T13:30:15Z
2016-05-06T13:30:15Z
2016-05-26T13:30:15Z
2016-06-15T13:30:15Z
2016-07-05T13:30:15Z
2016-07-25T13:30:15Z
2016-08-14T13:30:15Z

sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...

2016-09-03T13:30:15Z

sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...
sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...

2016-09-23T13:30:15Z

sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...

2016-10-13T13:30:15Z

sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...

2016-11-02T13:30:15Z

sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...
sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...

2016-11-22T14:30:15Z

sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...

2016-12-12T14:30:15Z

sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...

2017-01-01T14:30:15Z

sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...
sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...

2017-01-21T14:30:15Z

sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...

2017-02-10T14:30:15Z

sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...
sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...

2017-03-02T14:30:15Z

sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...

2017-03-22T13:30:15Z

sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...

2017-04-11T13:30:15Z

sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...
sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...

2017-05-01T13:30:15Z

sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...

2017-05-21T13:30:15Z

sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...

2017-06-10T13:30:15Z

sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...
sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...

2017-06-30T13:30:15Z

sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...

2017-07-20T13:30:15Z

sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...
sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...

2017-08-09T13:30:15Z

sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...

2017-08-29T13:30:15Z

sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...
sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...

2017-09-18T13:30:15Z

sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...

2017-10-08T13:30:15Z

sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...

2017-10-28T13:30:15Z

sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...
sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...

2017-11-17T14:30:15Z

sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...

2017-12-07T14:30:15Z

sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...

2017-12-27T14:30:15Z

sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...
sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...

2018-01-16T14:30:15Z

sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...

2018-02-05T14:30:15Z

sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...

2018-02-25T14:30:15Z

sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...

2018-03-17T13:30:15Z

sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...
sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...

2018-04-06T13:30:15Z

sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...

2018-04-26T13:30:15Z

sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...

2018-05-16T13:30:15Z

sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...
sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...

2018-06-05T13:30:15Z

sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...

2018-06-25T13:30:15Z

sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...

2018-07-15T13:30:15Z

sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...
sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...

2018-08-04T13:30:15Z

sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...

2018-08-24T13:30:15Z

sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...

2018-09-13T13:30:15Z

sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...
sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...

2018-10-03T13:30:15Z

sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...

2018-10-23T13:30:15Z

sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...

2018-11-12T14:30:15Z

sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...
sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...

2018-12-02T14:30:15Z

sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...

2018-12-22T14:30:15Z

sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...

2019-01-11T14:30:15Z

sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...
sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...

2019-01-31T14:30:15Z

sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...

2019-02-20T14:30:15Z

sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...

2019-03-12T13:30:15Z

sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...
sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...

2019-04-01T13:30:15Z

sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...

2019-04-21T13:30:15Z

sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...

2019-05-11T13:30:15Z

sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...
sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...

2019-05-31T13:30:15Z

sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...

2019-06-20T13:30:15Z

sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...
sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...

2019-07-10T13:30:15Z

sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...

2019-07-30T13:30:15Z

sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...

2019-08-19T13:30:15Z

sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...
sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...

2019-09-08T13:30:15Z

sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...

2019-09-28T13:30:15Z

sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...

2019-10-18T13:30:15Z

sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...
sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...

2019-11-07T14:30:15Z

sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...

2019-11-27T14:30:15Z

sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...

2019-12-17T14:30:15Z

sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...
sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...

2020-01-06T14:30:15Z

sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...

2020-01-26T14:30:15Z

sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...
sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...

2020-02-15T14:30:15Z

sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...

2020-03-06T14:30:15Z

sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...

2020-03-26T13:30:15Z

sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...
sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...

2020-04-15T13:30:15Z

sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...

2020-05-05T13:30:15Z

sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...

2020-05-25T13:30:15Z

sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...
sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...

2020-06-14T13:30:15Z

sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...

2020-07-04T13:30:15Z

sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...

2020-07-24T13:30:15Z

sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...
sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...

2020-08-13T13:30:15Z

sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...

2020-09-02T13:30:15Z

sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...

2020-09-22T13:30:15Z

sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...

2020-10-12T13:30:15Z

sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...
sleep 3 seconds and retrying https://data.alpaca.markets/v1/bars/1D 3 more time(s)...

2020-11-01T14:30:15Z

,GLD,GLD,GLD,GLD,GLD,QQQ,QQQ,QQQ,QQQ,QQQ,...,USO,USO,USO,USO,USO,UUP,UUP,UUP,UUP,UUP
2020-11-02 00:00:00-05:00,177.4499000000,177.9250000000,177.1301000000,177.9000000000,6065736,271.7300000000,273.5200000000,266.9700000000,270.0500000000,34768771,...,25.1600000000,26.2900000000,25.1400000000,26.2400000000,5095824,25.4100000000,25.4300000000,25.3800000000,25.3950000000,1585875
2020-11-03 00:00:00-05:00,178.9500000000,179.3900000000,178.3000000000,178.9200000000,6776879,271.8600000000,276.8200000000,270.8400000000,274.6300000000,37296060,...,26.9400000000,27.0100000000,26.4500000000,26.7200000000,6625114,25.2300000000,25.2700000000,25.1800000000,25.2600000000,4024848
2020-11-04 00:00:00-05:00,178.9300000000,179.1900000000,177.6600000000,178.8100000000,9843659,283.5600000000,288.7700000000,281.8700000000,286.8500000000,62388325,...,27.1200000000,27.6300000000,26.6889000000,27.4400000000,5540211,25.2700000000,25.3000000000,25.1850000000,25.2200000000,1010599
2020-11-05 00:00:00-05:00,181.0000000000,183.2850000000,180.9700000000,182.9200000000,14794385,293.4100000000,295.3900000000,292.0000000000,294.3100000000,43540539,...,27.4100000000,27.7000000000,27.0800000000,27.1500000000,4886959,25.0100000000,25.0689000000,24.9500000000,24.9800000000,1511949
2020-11-06 00:00:00-05:00,183.4000000000,183.5300000000,182.1900000000,183.2100000000,8253934,293.5800000000,295.3600000000,289.8300000000,294.6500000000,34001999,...,26.8300000000,26.8700000000,26.2000000000,26.4600000000,4730576,24.9200000000,24.9700000000,24.8700000000,24.8950000000,3409301

In [17]:
close_prices.to_csv('data.csv')

In [28]:
df = pd.read_csv(
    Path('data.csv'),
    infer_datetime_format =True,
    parse_dates=True,
)
df.head()

,Unnamed: 0,GLD,GLD.1,GLD.2,GLD.3,GLD.4,QQQ,QQQ.1,QQQ.2,QQQ.3,...,USO,USO.1,USO.2,USO.3,USO.4,UUP,UUP.1,UUP.2,UUP.3,UUP.4
0,2015-11-09 00:00:00-05:00,104.2900000000,104.5800000000,104.1900000000,104.4200000000,2952497,111.3100000000,111.4500000000,109.8500000000,110.5500000000,...,14.1000000000,14.2300000000,13.9500000000,14.0700000000,20241453,25.8600000000,25.8600000000,25.7400000000,25.7850000000,2030949.0000000000
1,2015-11-10 00:00:00-05:00,104.0900000000,104.6500000000,103.8700000000,104.1600000000,3251645,109.9600000000,110.3700000000,109.6300000000,110.2700000000,...,14.0000000000,14.2900000000,13.9900000000,14.1000000000,14326780,25.8900000000,25.9100000000,25.8200000000,25.8500000000,1333733.0000000000
2,2015-11-11 00:00:00-05:00,104.0900000000,104.2300000000,103.7800000000,103.8100000000,2816992,110.6000000000,111.1300000000,109.9800000000,110.1300000000,...,14.0600000000,14.0883000000,13.6400000000,13.7600000000,21989908,25.7900000000,25.8200000000,25.7400000000,25.7650000000,12410638.0000000000
3,2015-11-12 00:00:00-05:00,103.0900000000,104.3200000000,103.0400000000,103.8311000000,4859175,109.6800000000,110.2500000000,109.0100000000,109.0600000000,...,13.4500000000,13.7000000000,13.3200000000,13.3400000000,29996706,25.8000000000,25.8100000000,25.6300000000,25.6700000000,5146429.0000000000
4,2015-11-13 00:00:00-05:00,103.5400000000,103.7400000000,103.4500000000,103.5800000000,2717184,108.5900000000,108.7100000000,106.8500000000,106.9200000000,...,13.2000000000,13.2300000000,12.9100000000,13.0600000000,33037957,25.7700000000,25.8364000000,25.7600000000,25.7700000000,1019210.0000000000

In [29]:
#Closing price = "GLD.3", "QQQ.3" etc.
n = 30

def rma(x, n, y0):
    a = (n-1) / n
    ak = a**np.arange(len(x)-1, -1, -1)
    return np.append(y0, np.cumsum(ak * x) / ak / n + y0 * a**np.arange(1, len(x)+1))

df['GLDchange'] = df['GLD.3'].diff()
df['GLDgain'] = df.GLDchange.mask(df.GLDchange < 0, 0.0)
df['GLDloss'] = -df.GLDchange.mask(df.GLDchange > 0, -0.0)
df.loc[n:,'GLDavg_gain'] = rma( df.GLDgain[n+1:].values, n, df.loc[:n, 'GLDgain'].mean())
df.loc[n:,'GLDavg_loss'] = rma( df.GLDloss[n+1:].values, n, df.loc[:n, 'GLDloss'].mean())
df['GLDrs'] = df.GLDavg_gain / df.GLDavg_loss
df['GLDrsi_30'] = 100 - (100 / (1 + df.GLDrs))

df['QQQchange'] = df['QQQ.3'].diff()
df['QQQgain'] = df.QQQchange.mask(df.QQQchange < 0, 0.0)
df['QQQloss'] = -df.QQQchange.mask(df.QQQchange > 0, -0.0)
df.loc[n:,'QQQavg_gain'] = rma( df.QQQgain[n+1:].values, n, df.loc[:n, 'QQQgain'].mean())
df.loc[n:,'QQQavg_loss'] = rma( df.QQQloss[n+1:].values, n, df.loc[:n, 'QQQloss'].mean())
df['QQQrs'] = df.QQQavg_gain / df.QQQavg_loss
df['QQQrsi_30'] = 100 - (100 / (1 + df.QQQrs))

df['UUPchange'] = df['UUP.3'].diff()
df['UUPgain'] = df.UUPchange.mask(df.UUPchange < 0, 0.0)
df['UUPloss'] = -df.UUPchange.mask(df.UUPchange > 0, -0.0)
df.loc[n:,'UUPavg_gain'] = rma( df.UUPgain[n+1:].values, n, df.loc[:n, 'UUPgain'].mean())
df.loc[n:,'UUPavg_loss'] = rma( df.UUPloss[n+1:].values, n, df.loc[:n, 'UUPloss'].mean())
df['UUPrs'] = df.UUPavg_gain / df.UUPavg_loss
df['UUPrsi_30'] = 100 - (100 / (1 + df.UUPrs))

df['SPYchange'] = df['SPY.3'].diff()
df['SPYgain'] = df.SPYchange.mask(df.SPYchange < 0, 0.0)
df['SPYloss'] = -df.SPYchange.mask(df.SPYchange > 0, -0.0)
df.loc[n:,'SPYavg_gain'] = rma( df.SPYgain[n+1:].values, n, df.loc[:n, 'SPYgain'].mean())
df.loc[n:,'SPYavg_loss'] = rma( df.SPYloss[n+1:].values, n, df.loc[:n, 'SPYloss'].mean())
df['SPYrs'] = df.SPYavg_gain / df.SPYavg_loss
df['SPYrsi_30'] = 100 - (100 / (1 + df.SPYrs))

df['USOchange'] = df['USO.3'].diff()
df['USOgain'] = df.USOchange.mask(df.USOchange < 0, 0.0)
df['USOloss'] = -df.USOchange.mask(df.USOchange > 0, -0.0)
df.loc[n:,'USOavg_gain'] = rma( df.USOgain[n+1:].values, n, df.loc[:n, 'USOgain'].mean())
df.loc[n:,'USOavg_loss'] = rma( df.USOloss[n+1:].values, n, df.loc[:n, 'USOloss'].mean())
df['USOrs'] = df.USOavg_gain / df.USOavg_loss
df['USOrsi_30'] = 100 - (100 / (1 + df.USOrs))

#ticker_list = ['SPY','QQQ','UUP','UUP','USO']

In [30]:
df[29:39]

,Unnamed: 0,GLD,GLD.1,GLD.2,GLD.3,GLD.4,QQQ,QQQ.1,QQQ.2,QQQ.3,...,SPYavg_loss,SPYrs,SPYrsi_30,USOchange,USOgain,USOloss,USOavg_gain,USOavg_loss,USOrs,USOrsi_30
29,2015-12-21 00:00:00-05:00,102.9500000000,103.5200000000,102.8300000000,103.1600000000,4773318,108.2400000000,108.4500000000,107.4500000000,108.4300000000,...,nan,nan,nan,-0.0200000000,0.0000000000,0.0200000000,nan,nan,nan,nan
30,2015-12-22 00:00:00-05:00,103.0900000000,103.2000000000,102.5599000000,102.6000000000,3307823,109.0300000000,109.3200000000,108.4500000000,109.1400000000,...,0.9660000000,0.8429951691,45.7404980341,0.1200000000,0.1200000000,0.0000000000,0.0553333333,0.1653333333,0.3346774194,25.0755287009
31,2015-12-23 00:00:00-05:00,102.4000000000,102.5900000000,102.2100000000,102.3300000000,2143747,109.6800000000,110.0100000000,109.4900000000,109.9500000000,...,0.9338000000,0.9325932272,48.2560537868,0.4900000000,0.4900000000,0.0000000000,0.0698222222,0.1598222222,0.4368743048,30.4044900329
32,2015-12-24 00:00:00-05:00,102.8200000000,103.0300000000,102.7700000000,103.0100000000,1579805,109.9400000000,110.2600000000,109.9100000000,109.9300000000,...,0.9176733333,0.9173493513,47.8446638155,0.0400000000,0.0400000000,0.0000000000,0.0688281481,0.1544948148,0.4455045836,30.8200049090
33,2015-12-28 00:00:00-05:00,102.4800000000,102.5962000000,102.0300000000,102.2600000000,2923572,109.6900000000,109.9100000000,108.9000000000,109.8700000000,...,0.8997508889,0.9044349340,47.4909863209,-0.3900000000,0.0000000000,0.3900000000,0.0665338765,0.1623449877,0.4098301863,29.0694716511
34,2015-12-29 00:00:00-05:00,102.5200000000,102.5800000000,102.1100000000,102.1600000000,2563638,110.5700000000,111.8700000000,110.4900000000,111.6000000000,...,0.8697591926,0.9902824505,49.7558751154,0.3600000000,0.3600000000,0.0000000000,0.0763160807,0.1569334881,0.4862957014,32.7186374131
35,2015-12-30 00:00:00-05:00,101.4700000000,101.6000000000,101.3450000000,101.4300000000,2840080,111.4500000000,111.5300000000,110.5600000000,110.5900000000,...,0.8904338862,0.9350464256,48.3216533311,-0.3500000000,0.0000000000,0.3500000000,0.0737722113,0.1633690385,0.4515678858,31.1089746620
36,2015-12-31 00:00:00-05:00,101.4800000000,101.7200000000,101.3100000000,101.4500000000,2934400,110.1900000000,110.4000000000,109.1900000000,109.2200000000,...,0.9277527566,0.8675196949,46.4530412861,0.0900000000,0.0900000000,0.0000000000,0.0743131376,0.1579234038,0.4705644368,31.9988995409
37,2016-01-04 00:00:00-05:00,103.1300000000,103.6700000000,102.4850000000,102.8700000000,5226833,106.7700000000,106.9300000000,105.4900000000,106.9100000000,...,0.9948276647,0.7820607424,43.8851899835,-0.0300000000,0.0000000000,0.0300000000,0.0718360330,0.1536592904,0.4675020484,31.8569946044
38,2016-01-05 00:00:00-05:00,103.1300000000,103.4600000000,102.9300000000,103.1800000000,2968407,107.5100000000,107.6500000000,106.3000000000,106.7300000000,...,0.9616667426,0.7973120411,44.3613586761,-0.3201000000,0.0000000000,0.3201000000,0.0694414986,0.1592073140,0.4361702789,30.3703735783

In [31]:
#Open price = "GLD", "QQQ" etc.
n = 30

def rma(x, n, y0):
    a = (n-1) / n
    ak = a**np.arange(len(x)-1, -1, -1)
    return np.append(y0, np.cumsum(ak * x) / ak / n + y0 * a**np.arange(1, len(x)+1))

df['GLDchange_O'] = df['GLD'].diff()
df['GLDgain_O'] = df.GLDchange_O.mask(df.GLDchange_O < 0, 0.0)
df['GLDloss_O'] = -df.GLDchange_O.mask(df.GLDchange_O > 0, -0.0)
df.loc[n:,'GLDavg_gain_O'] = rma( df.GLDgain_O[n+1:].values, n, df.loc[:n, 'GLDgain_O'].mean())
df.loc[n:,'GLDavg_loss_O'] = rma( df.GLDloss_O[n+1:].values, n, df.loc[:n, 'GLDloss_O'].mean())
df['GLDrs_O'] = df.GLDavg_gain_O / df.GLDavg_loss_O
df['GLDrsi_30_O'] = 100 - (100 / (1 + df.GLDrs_O))

df['QQQchange_O'] = df['QQQ'].diff()
df['QQQgain_O'] = df.QQQchange_O.mask(df.QQQchange_O < 0, 0.0)
df['QQQloss_O'] = -df.QQQchange_O.mask(df.QQQchange_O > 0, -0.0)
df.loc[n:,'QQQavg_gain_O'] = rma( df.QQQgain_O[n+1:].values, n, df.loc[:n, 'QQQgain_O'].mean())
df.loc[n:,'QQQavg_loss_O'] = rma( df.QQQloss_O[n+1:].values, n, df.loc[:n, 'QQQloss_O'].mean())
df['QQQrs_O'] = df.QQQavg_gain_O / df.QQQavg_loss_O
df['QQQrsi_30_O'] = 100 - (100 / (1 + df.QQQrs_O))

df['UUPchange_O'] = df['UUP'].diff()
df['UUPgain_O'] = df.UUPchange_O.mask(df.UUPchange_O < 0, 0.0)
df['UUPloss_O'] = -df.UUPchange_O.mask(df.UUPchange_O > 0, -0.0)
df.loc[n:,'UUPavg_gain_O'] = rma( df.UUPgain_O[n+1:].values, n, df.loc[:n, 'UUPgain_O'].mean())
df.loc[n:,'UUPavg_loss_O'] = rma( df.UUPloss_O[n+1:].values, n, df.loc[:n, 'UUPloss_O'].mean())
df['UUPrs_O'] = df.UUPavg_gain_O / df.UUPavg_loss_O
df['UUPrsi_30_O'] = 100 - (100 / (1 + df.UUPrs_O))

df['SPYchange_O'] = df['SPY'].diff()
df['SPYgain_O'] = df.SPYchange_O.mask(df.SPYchange_O < 0, 0.0)
df['SPYloss_O'] = -df.SPYchange_O.mask(df.SPYchange_O > 0, -0.0)
df.loc[n:,'SPYavg_gain_O'] = rma( df.SPYgain_O[n+1:].values, n, df.loc[:n, 'SPYgain_O'].mean())
df.loc[n:,'SPYavg_loss_O'] = rma( df.SPYloss_O[n+1:].values, n, df.loc[:n, 'SPYloss_O'].mean())
df['SPYrs_O'] = df.SPYavg_gain_O / df.SPYavg_loss_O
df['SPYrsi_30_O'] = 100 - (100 / (1 + df.SPYrs_O))

df['USOchange_O'] = df['USO'].diff()
df['USOgain_O'] = df.USOchange_O.mask(df.USOchange_O < 0, 0.0)
df['USOloss_O'] = -df.USOchange_O.mask(df.USOchange_O > 0, -0.0)
df.loc[n:,'USOavg_gain_O'] = rma( df.USOgain_O[n+1:].values, n, df.loc[:n, 'USOgain_O'].mean())
df.loc[n:,'USOavg_loss_O'] = rma( df.USOloss_O[n+1:].values, n, df.loc[:n, 'USOloss_O'].mean())
df['USOrs_O'] = df.USOavg_gain_O / df.USOavg_loss_O
df['USOrsi_30_O'] = 100 - (100 / (1 + df.USOrs_O))

ticker_list = ['SPY','QQQ','UUP','UUP','USO']

In [32]:
df[29:39]

,Unnamed: 0,GLD,GLD.1,GLD.2,GLD.3,GLD.4,QQQ,QQQ.1,QQQ.2,QQQ.3,...,SPYavg_loss_O,SPYrs_O,SPYrsi_30_O,USOchange_O,USOgain_O,USOloss_O,USOavg_gain_O,USOavg_loss_O,USOrs_O,USOrsi_30_O
29,2015-12-21 00:00:00-05:00,102.9500000000,103.5200000000,102.8300000000,103.1600000000,4773318,108.2400000000,108.4500000000,107.4500000000,108.4300000000,...,nan,nan,nan,-0.2100000000,0.0000000000,0.2100000000,nan,nan,nan,nan
30,2015-12-22 00:00:00-05:00,103.0900000000,103.2000000000,102.5599000000,102.6000000000,3307823,109.0300000000,109.3200000000,108.4500000000,109.1400000000,...,0.9660000000,0.7726017943,43.5857504380,0.0800000000,0.0800000000,0.0000000000,0.0510000000,0.1650000000,0.3090909091,23.6111111111
31,2015-12-23 00:00:00-05:00,102.4000000000,102.5900000000,102.2100000000,102.3300000000,2143747,109.6800000000,110.0100000000,109.4900000000,109.9500000000,...,0.9338000000,0.8436377050,45.7594082985,0.3800000000,0.3800000000,0.0000000000,0.0619666667,0.1595000000,0.3885057471,27.9801324503
32,2015-12-24 00:00:00-05:00,102.8200000000,103.0300000000,102.7700000000,103.0100000000,1579805,109.9400000000,110.2600000000,109.9100000000,109.9300000000,...,0.9026733333,0.8809343276,46.8349327599,0.2800000000,0.2800000000,0.0000000000,0.0692344444,0.1541833333,0.4490397435,30.9887803617
33,2015-12-28 00:00:00-05:00,102.4800000000,102.5962000000,102.0300000000,102.2600000000,2923572,109.6900000000,109.9100000000,108.9000000000,109.8700000000,...,0.9012508889,0.8529138828,46.0309510735,-0.2800000000,0.0000000000,0.2800000000,0.0669266296,0.1583772222,0.4225773674,29.7050534554
34,2015-12-29 00:00:00-05:00,102.5200000000,102.5800000000,102.1100000000,102.1600000000,2563638,110.5700000000,111.8700000000,110.4900000000,111.6000000000,...,0.8712091926,0.9160445298,47.8091461643,0.1000000000,0.1000000000,0.0000000000,0.0680290753,0.1530979815,0.4443499166,30.7646998500
35,2015-12-30 00:00:00-05:00,101.4700000000,101.6000000000,101.3450000000,101.4300000000,2840080,111.4500000000,111.5300000000,110.5600000000,110.5900000000,...,0.8421688862,0.9397927356,48.4481005810,-0.2000000000,0.0000000000,0.2000000000,0.0657614395,0.1546613821,0.4251962486,29.8342245138
36,2015-12-31 00:00:00-05:00,101.4800000000,101.7200000000,101.3100000000,101.4500000000,2934400,110.1900000000,110.4000000000,109.1900000000,109.2200000000,...,0.8800965900,0.8693160161,46.5044972916,-0.1200000000,0.0000000000,0.1200000000,0.0635693915,0.1535060027,0.4141166493,29.2844758953
37,2016-01-04 00:00:00-05:00,103.1300000000,103.6700000000,102.4850000000,102.8700000000,5226833,106.7700000000,106.9300000000,105.4900000000,106.9100000000,...,1.0050933703,0.7358314638,42.3907204799,0.4200000000,0.4200000000,0.0000000000,0.0754504118,0.1483891359,0.5084631789,33.7073642884
38,2016-01-05 00:00:00-05:00,103.1300000000,103.4600000000,102.9300000000,103.1800000000,2968407,107.5100000000,107.6500000000,106.3000000000,106.7300000000,...,0.9715902580,0.7667086775,43.3975724052,-0.4700000000,0.0000000000,0.4700000000,0.0729353980,0.1591094981,0.4583975119,31.4315889994

In [33]:
#calculate percent change open and close prices
df['GLDPctChg_Close']=df['GLD.3'].pct_change(periods=5)
df['GLDPctChg_Open']=df['GLD'].pct_change(periods=5)

df['QQQPctChg_Close']=df['QQQ.3'].pct_change(periods=5)
df['QQQPctChg_Open']=df['QQQ'].pct_change(periods=5)

df['UUPPctChg_Close']=df['UUP.3'].pct_change(periods=5)
df['UUPPctChg_Open']=df['UUP'].pct_change(periods=5)

df['USOPctChg_Close']=df['USO.3'].pct_change(periods=5)
df['USOPctChg_Open']=df['USO'].pct_change(periods=5)

df['SPYPctChg_USO']=df['SPY.3'].pct_change(periods=5)
df['SPYPctChg_Open']=df['SPY'].pct_change(periods=5)

df.head(7)

,Unnamed: 0,GLD,GLD.1,GLD.2,GLD.3,GLD.4,QQQ,QQQ.1,QQQ.2,QQQ.3,...,GLDPctChg_Close,GLDPctChg_Open,QQQPctChg_Close,QQQPctChg_Open,UUPPctChg_Close,UUPPctChg_Open,USOPctChg_Close,USOPctChg_Open,SPYPctChg_USO,SPYPctChg_Open
0,2015-11-09 00:00:00-05:00,104.2900000000,104.5800000000,104.1900000000,104.4200000000,2952497,111.3100000000,111.4500000000,109.8500000000,110.5500000000,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
1,2015-11-10 00:00:00-05:00,104.0900000000,104.6500000000,103.8700000000,104.1600000000,3251645,109.9600000000,110.3700000000,109.6300000000,110.2700000000,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2,2015-11-11 00:00:00-05:00,104.0900000000,104.2300000000,103.7800000000,103.8100000000,2816992,110.6000000000,111.1300000000,109.9800000000,110.1300000000,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
3,2015-11-12 00:00:00-05:00,103.0900000000,104.3200000000,103.0400000000,103.8311000000,4859175,109.6800000000,110.2500000000,109.0100000000,109.0600000000,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
4,2015-11-13 00:00:00-05:00,103.5400000000,103.7400000000,103.4500000000,103.5800000000,2717184,108.5900000000,108.7100000000,106.8500000000,106.9200000000,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
5,2015-11-16 00:00:00-05:00,103.9800000000,104.0300000000,103.5150000000,103.6900000000,2547625,106.8200000000,108.5100000000,106.6000000000,108.4600000000,...,-0.0069909979,-0.0029724806,-0.0189054726,-0.0403377953,0.0040721350,-0.0011600928,-0.0476190476,-0.0780141844,-0.0118235124,-0.0333954422
6,2015-11-17 00:00:00-05:00,103.3800000000,103.3999000000,101.9800000000,102.3700000000,7062130,108.6600000000,109.3200000000,108.2700000000,108.5200000000,...,-0.0171850998,-0.0068210203,-0.0158701369,-0.0118224809,0.0030947776,0.0015449981,-0.0780141844,-0.0592857143,-0.0150112704,-0.0072771084